<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
      <li class="nav-item nav-profile">
        <div class="nav-link">
          <div class="profile-image">
          </div>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link"  routerLink='/home' >
          <i class="menu-icon fa fa-home"></i>
          <span class="menu-title">Inicio</span>
        </a>
      </li>
      <li class="nav-item" *ngFor="let pagina of paginas">
        <app-pagina [pagina]="pagina" ></app-pagina >
      </li>
    </ul>
  </nav>
