.nav-link:hover{
    background: #f6f6f6;
    color: #8d9498;
}
.sidebar .nav .nav-item.active > .nav-link:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 3px;
    background: #392C70;
}